<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-img [src]="car?.fields.image.fields.file.url"></ion-img>


  <ion-list>
    <ion-item>
       
      <ion-label>
        <ion-icon name="car"></ion-icon>
        name : {{car?.fields.title}}
      </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
          type : {{car.fields.type}}
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-label>
            model : {{car.fields.model}}
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
              price : {{car.fields.price}}
            </ion-label>
          </ion-item>
          <ion-item>
              <ion-label>
                color : {{car.fields.color}}
              </ion-label>
            </ion-item>
  </ion-list>
  <div class="ion-padding">
      <ion-button expand="block" (click)="gettype(car?.fields.type)">get all equal types</ion-button>
  </div>

</ion-content>
