<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card text-center>
    <ion-card-header>
      <ion-card-title>
          {{cars[0]?.fields.title}}
      </ion-card-title>
      <ion-card-subtitle>
          {{cars[0]?.fields.type}} |  {{cars[0]?.fields.price | currency}} | {{cars[0]?.fields.model}} | {{cars[0]?.fields.color}}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="cars[0]?.fields.image.fields.file.url"></ion-img><br>
      <ion-button expand="block" (click)="goToDetail(cars[0])"> detail </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-list >
    <ion-item *ngFor="let item of cars" detail (click)="goToDetail(item)" >
        
      <ion-thumbnail>
        <ion-img [src]="item?.fields.image.fields.file.url"></ion-img>
      </ion-thumbnail>
     
      <ion-label style="margin-left: 20px">
        <h2> {{item.fields.title}}</h2>
        <p>{{item.fields.price | currency}}</p>
      </ion-label>
     
    </ion-item>
    <br>
  </ion-list> 
</ion-content>
